# SBT
target/

# /dat/
/dat/Makefile
/dat/*.lev
/dat/data
/dat/dungeon.pdf
/dat/dungeon
/dat/nhdat
/dat/options
/dat/oracles
/dat/pet_mark.xbm
/dat/quest.dat
/dat/quest_levs
/dat/rumors
/dat/spec_levs
/dat/vaults.dat
/dat/UnNetHack.ad
/dat/x11tiles

# /doc/
/doc/Guidebook.txt

# /include/
/include/date.h
/include/dgn_comp.h
/include/lev_comp.h
/include/onames.h
/include/pm.h
/include/tile.h
/include/win32api.h

# /src/
/src/monstr.c
/src/tile.c

# /util/
/util/dgn_lex.c
/util/dgn_yacc.c
/util/lev_lex.c
/util/lev_yacc.c

# Eclipse
.cproject
.project

# IntelliJ IDEA
.idea

# vi
*.swp
*.swo
