Source: unnethack
Section: games
Priority: extra
Maintainer: Patric Mueller <bhaak@gmx.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, flex, bison, libncurses5-dev
Standards-Version: 3.8.4
Homepage: http://sourceforge.net/apps/trac/unnethack/

Package: unnethack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UnNetHack is a variant of NetHack.
 UnNetHack is a variant of NetHack. 
 It features more randomness, more levels, more challenges and more fun than vanilla NetHack.
